/* edit contact and add new contact css */
.heading {
  text-align: center;
}
.form {
  max-width: 400px;
  margin: 1rem auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
}
.form > input {
  font-size: 1.3rem;
  padding: 0.5rem;
  margin-top: 1rem;
}
.formButton {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.updateBtn {
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  border-radius: 1rem;
  background-color: black;
  color: #fff;
  text-decoration: none;
}
.cancelBtn {
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: red;
  color: #000;
  font-weight: 600;
  text-decoration: none;
}
